@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Laikas Group Time Application";
}
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
<body>

    @if (SignInManager.IsSignedIn(User))
    {
        <h3><center style="color:black">Laikas Group Timesheet Application, you are logged in as @UserManager.GetUserName(User)</h3>


    }



    else
    {
        <h3><center>Laikas Group Timesheet Application!</h3>

    }

</body>